@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  body {
    @apply bg-bgColor;
  }
  .headerLIHighlighted {
    @apply border-b-2 border-b-white !text-textColorStrong;
  }
  .headerLI {
    @apply flex items-center;
  }
  .headerLI a {
    @apply py-3 px-5 w-fit h-fit no-underline text-textColorWeak;
  }
  .credentialsInput {
    @apply block border-[3px] border-textColor rounded-md m-auto p-[10px] w-[300px] bg-inherit
      text-[15px] placeholder-[10px] placeholder-textColorWeak placeholder:text-[15px]
      autofill:shadow-autofill autofill:text-textColor;
  }
  .thirdPartyLogin {
    @apply flex flex-row items-center justify-start cursor-pointer gap-[10px] text-textColor text-sm
    bg-bgColorWeak border-[2px] border-textColor py-[20px] pl-[50px] rounded-lg w-[250px] h-[50px];
  }
}
.credentialsInput:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #17191d inset;
  -webkit-box-shadow: 0 0 0px 1000px #17191d inset;
  -webkit-text-fill-color: var(--normal-text-color);
  filter: none;
}
.credentialsInput:autofill {
  box-shadow: 0 0 0px 1000px #17191d inset;
  -webkit-box-shadow: 0 0 0px 1000px #17191d inset;
  -webkit-text-fill-color: var(--normal-text-color);
  filter: none;
}
:root {
  --strong-text-color: #ffff;
  --normal-text-color: #ececec;
  --weak-text-color: #afafaf;
  --background-color: #1e2025;
  --hightlighted-background-color: #17191d;
}
input:focus {
  outline: none;
}
html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
}
.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000a0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.modal {
  width: clamp(50%, 700px, 90%);
  height: auto;
}
.alert {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 10px 10px;
  border-radius: 5px;
  color: #f8d7da;
  background-color: #ab0011;
  z-index: 1;
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.alert svg {
  font-size: 13px;
}
