@tailwind base;
/* scrollbar styles */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #282b30 #424549;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #282b30;
  border-radius: 999px;
}

*::-webkit-scrollbar-thumb {
  background-color: #424549;
  border-radius: 20px;
  border: 3px solid #282b30;
}
@tailwind components;
@tailwind utilities;
/* I'll eventually remove these */
@layer components {
  body {
    @apply bg-bgColor;
  }
  .headerLIHighlighted {
    @apply border-b-2 border-b-white !text-textColorStrong;
  }
  .headerLI {
    @apply flex items-center;
  }
  .headerLI a {
    @apply h-fit w-fit py-3 px-5 text-textColorWeak no-underline;
  }
}
.credentialsInput:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #17191d inset;
  -webkit-box-shadow: 0 0 0px 1000px #17191d inset;
  -webkit-text-fill-color: var(--normal-text-color);
  filter: none;
}
.credentialsInput:autofill {
  box-shadow: 0 0 0px 1000px #17191d inset;
  -webkit-box-shadow: 0 0 0px 1000px #17191d inset;
  -webkit-text-fill-color: var(--normal-text-color);
  filter: none;
}
input:focus {
  outline: none;
}
html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
}
.alert {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 10px 10px;
  border-radius: 5px;
  color: #f8d7da;
  background-color: #ab0011;
  z-index: 1;
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.alert svg {
  font-size: 13px;
}
