.form {
  z-index: 1;
  color: var(--normal-text-color);
  display: flex;
  background-color: var(--hightlighted-background-color);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 30px 30px;
  width: 700px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.input {
  display: block;
  border: none;
  color: var(--normal-text-color);
  outline: 3px solid rgb(185, 185, 185);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px 10px;
  width: 300px;
  background-color: inherit;
}
.form input::placeholder {
  color: var(--weak-text-color);
}
.form input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #17191d inset;
  -webkit-box-shadow: 0 0 0px 1000px #17191d inset;
  -webkit-text-fill-color: var(--normal-text-color);
}
.formControl {
  height: fit-content;
  width: fit-content;
}
.agreement {
  font-size: 14px;
  width: 300px;
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  margin-right: 10px;
}
.agreement a {
  color: rgb(18, 113, 255);
  text-decoration: none;
}
.agreement input {
  margin-top: 1px;
}
.btnGroup {
  font-size: 0px;
}
.submit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  cursor: pointer;
  width: 300px;
  color: white;
  border: none;
  background-image: linear-gradient(to bottom right, #e2b500, rgb(213, 68, 0));
  padding: 10px 20px;
  border-radius: 50px;
  overflow: hidden;
}
.submit svg {
  margin-left: 0;
  font-size: 15px;
}
.localLogin {
  width: fit-content;
  padding-right: 30px;
  border-right: 3px solid #f59700;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  row-gap: 20px;
}
.localLogin label {
  color: var(--normal-text-color);
  display: block;
  margin-bottom: 10px;
}
.socialLogin {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 30px;
  margin-top: 10px;
}
.socialLogin span {
  margin-top: 5px;
  margin-bottom: 5px;
}
.socialLogin svg {
  font-size: 20px;
}
.socialLogin button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  box-sizing: border-box;
  color: var(--normal-text-color);
  background-color: rgb(38, 38, 38);
  border: 2px solid white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  border-radius: 10px;
  width: 250px;
  height: 50px;
}
